
ARCHS = $(NATIVE_ARCH)
VALID_ARCHS = ppc64 ppc7400 ppc970 i386 x86_64 ppc

//SDKROOT = /Developer/SDKs/MacOSX10.4u.sdk
SDKROOT = /Developer/SDKs/MacOSX10.5.sdk
MACOSX_DEPLOYMENT_TARGET = 10.5

//ALWAYS_SEARCH_USER_PATHS = YES
PREBINDING = NO
ZERO_LINK = NO
GCC_ENABLE_FIX_AND_CONTINUE = NO

INFOPLIST_PREPROCESS = YES
DEPLOYMENT_POSTPROCESSING = NO

SKIP_INSTALL = YES
STRIP_INSTALLED_PRODUCT = NO
STRIP_STYLE = debugging
COPY_PHASE_STRIP = NO
DEAD_CODE_STRIPPING = NO

DEBUG_INFORMATION_FORMAT = dwarf
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_DEBUGGING_SYMBOLS = default
GCC_OPTIMIZATION_LEVEL = 0

GCC_PRECOMPILE_PREFIX_HEADER = YES

// Compile as Obj-C++
GCC_INPUT_FILETYPE = sourcecode.cpp.objcpp

GCC_SHORT_ENUMS = NO
//GCC_ONE_BYTE_BOOL = NO
GCC_ENABLE_PASCAL_STRINGS = YES
GCC_REUSE_STRINGS = YES

// REQUIRED for C++ symbol exporting
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_ENABLE_CPP_RTTI = YES
GCC_ENABLE_CPP_EXCEPTIONS = YES

GCC_THREADSAFE_STATICS = YES

GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_WARN_EFFECTIVE_CPLUSPLUS_VIOLATIONS = NO
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNINITIALIZED_AUTOS = NO
GCC_WARN_SHADOW = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_FOUR_CHARACTER_CONSTANTS = NO

LINKER_DISPLAYS_FILES_FOR_UNDEFINED_SYMBOLS = YES

UNICODE_DATA_FILE[arch=i386] = CFUnicodeData-L.mapping
UNICODE_DATA_FILE[arch=x86_64] = CFUnicodeData-L.mapping
UNICODE_DATA_FILE[arch=ppc] = CFUnicodeData-B.mapping
UNICODE_DATA_FILE[arch=ppc64] = CFUnicodeData-B.mapping

GCC_PREPROCESSOR_DEFINITIONS = OSMac_=1 OSWin_=0