#include "Config_Master.xcconfig"

//ARCHS = ppc i386
ARCHS = $(ARCHS_STANDARD_32_64_BIT)

DEPLOYMENT_POSTPROCESSING = YES
STRIP_INSTALLED_PRODUCT = YES
STRIP_STYLE = debugging
COPY_PHASE_STRIP = YES

GCC_GENERATE_DEBUGGING_SYMBOLS = NO
GCC_DEBUGGING_SYMBOLS = default
GCC_OPTIMIZATION_LEVEL = s

GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_PREPROCESSOR_DEFINITIONS = OSMac_=1 OSWin_=0 DEPLOYMENT_TARGET_MACOSX=1 CF_BUILDING_CF=1 __STDC_LIMIT_MACROS=1
