#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
ipch/
*.lib
*.sbr
*.sdf
*.opensdf
*.user
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Build/
Lib/
bin/
include/

src/icu/source/data/out/icudt46l.dat
src/icu/source/data/out/tmp/icudata.lst
src/icu/source/data/out/tmp/icudata.res
src/icu/source/test/testdata/out/testdata.dat
src/icu/source/test/testdata/out/testdata/nam.typ
src/opencflite/objc4/version.h