Build
./Lib
./bin
./include
WinCairo.sdf
WinCairo.suo
WinCairo_vc8.ncb
WinCairo_vc8.suo
WinCairo_vc9.ncb
WinCairo_vc9.suo
src/cairo/cairo/src/Debug
src/cairo/cairo/src/Release
src/cairo/cairo/src/cairo.ncb
src/cairo/cairo/src/*.user
src/cairo/pixman/pixman/Debug
src/cairo/pixman/pixman/Release
src/cairo/pixman/pixman/*.user
src/curl/lib/*.user
src/curl/src/curl/*.user
src/icu/bin
src/icu/include/*
src/icu/source/common/*.user
src/icu/source/data/*.user
src/icu/source/extra/uconv/*.user
src/icu/source/i18n/*.user
src/icu/source/io/*.user
src/icu/source/layout/*.user
src/icu/source/layoutex/*.user
src/icu/source/samples/cal/*.user
src/icu/source/samples/date/*.user
src/icu/source/stubdata/*.user
src/icu/source/test/cintltst/*.user
src/icu/source/test/intltest/*.user
src/icu/source/test/iotest/*.user
src/icu/source/test/letest/*.user
src/icu/source/test/testdata/out/*
src/icu/source/tools/ctestfw/*.user
src/icu/source/tools/genbrk/*.user
src/icu/source/tools/genccode/*.user
src/icu/source/tools/gencfu/*.user
src/icu/source/tools/gencmn/*.user
src/icu/source/tools/gencnval/*.user
src/icu/source/tools/genctd/*.user
src/icu/source/tools/gennorm2/*.user
src/icu/source/tools/genrb/*.user
src/icu/source/tools/gensprep/*.user
src/icu/source/tools/gentest/*.user
src/icu/source/tools/icuinfo/*.user
src/icu/source/tools/icupkg/*.user
src/icu/source/tools/makeconv/*.user
src/icu/source/tools/pkgdata/*.user
src/icu/source/tools/toolutil/*.user
src/jpeg/Debug
src/jpeg/Release
src/jpeg/*.user
src/libiconv/*.user
src/libiconv/libcharset/*.user
src/libiconv/src/*.user
src/libiconv/srclib/*.user
src/libpng/*.user
src/libpng/projects/visualc9/libpng*.user
src/libxml2/win32/libxml2/*.user
src/libxml2/win32/libxml2/Debug
src/libxml2/win32/libxml2/Release
src/libxml2/win32/xmllint/*.user
src/libxslt/win32/libxslt/*.user
src/libxslt/win32/libxslt/Debug
src/libxslt/win32/libxslt/Release
src/opencflite/examples/StringExample/*.user
src/opencflite/objc4/*.user
src/opencflite/objc4/objcrt/vc*
src/opencflite/objc4/objcrt/*.pdb
src/opencflite/objc4/objcrt/*.user
src/opencflite/windows/*.user
src/openssl/openssl/*.user
src/pthreads/*.user
src/sqlite/sqlite/Debug
src/sqlite/sqlite/Release
src/sqlite/sqlite/*.user
src/sqlite/sqlite_vc2005/Debug
src/sqlite/sqlite_vc2005/Release
src/sqlite/sqlite_vc2005/*.user
src/zlib/contrib/vstudio/vc8/*.user
src/zlib/contrib/vstudio/vc9/*.user
