Build
./Lib
./bin
./include
WinCairo.sdf
WinCairo.suo
WinCairo_vc9.ncb
WinCairo_vc9.suo
src/cairo/cairo/src/Debug
src/cairo/cairo/src/Release
src/cairo/cairo/src/cairo.ncb
src/cairo/cairo/src/*.user
src/cairo/pixman/pixman/Debug
src/cairo/pixman/pixman/Release
src/cairo/pixman/pixman/*.user
src/icu/bin
src/icu/include/*
src/icu/source/samples/cal/*.user
src/icu/source/samples/date/*.user
src/jpeg/Debug
src/jpeg/Release
src/libiconv/*.user
src/libiconv/libcharset/*.user
src/libiconv/src/*.user
src/libiconv/srclib/*.user
src/libpng/*.user
src/libpng/projects/visualc9/libpng*.user
src/libxml2/win32/libxml2/*.user
src/libxml2/win32/libxml2/Debug
src/libxml2/win32/libxml2/Release
src/libxml2/win32/xmllint/*.user
src/libxslt/win32/libxslt/*.user
src/libxslt/win32/libxslt/Debug
src/libxslt/win32/libxslt/Release
src/opencflite/objc4/*.user
src/opencflite/objc4/objcrt/vc*
src/opencflite/objc4/objcrt/*.pdb
src/pthreads/*.user
src/zlib/contrib/vstudio/vc9/*.user

